<h1>hi</h1>

<% if !@posts.nil? %>
  <% @posts.each do |post|%>
    <div class="card mb-3">
      <div class="card-header">
        <%= post.user.email %>
      </div>
      <div class="card-body">
        <p class="card-text">
          <%= post.content %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
