<h1>Ajax Practice</h1>
<%= form_with model: Post.new do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<% if !@posts.nil? %>
    <div id="post-list">
      <% @posts.each do |post|%>
        <%= render 'posts/post', post: post%>
      <% end %>
    </div>
<% end %>