<h1>hi</h1>

<% if !@posts.nil? %>
  <% @posts.each do |post|%>
    <div>
      <div>
        <%= post.user.email %>
      </div>
      <div>
        <%= post.content %>
      </div>
    </div>
  <% end %>
<% end %>
